WebServiceTest/WSTest/Connected Services/ServiceReference1/WarehouseWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax21="http://model/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://ws.tier2" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://ws.tier2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:ax22="http://model/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.tier2">
      <xs:import namespace="http://model/xsd" />
      <xs:element name="insertPallet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Pallet" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="insertPalletResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executeOrder">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Order" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executeOrderResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax22:Pallet" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model/xsd">
      <xs:complexType name="Pallet">
        <xs:sequence>
          <xs:element minOccurs="0" name="count" type="xs:int" />
          <xs:element minOccurs="0" name="goodid" type="xs:int" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Order">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="goods" nillable="true" type="ax21:Good" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Good">
        <xs:sequence>
          <xs:element minOccurs="0" name="manufacturer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="palletId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeOrderRequest">
    <wsdl:part name="parameters" element="ns:executeOrder" />
  </wsdl:message>
  <wsdl:message name="executeOrderResponse">
    <wsdl:part name="parameters" element="ns:executeOrderResponse" />
  </wsdl:message>
  <wsdl:message name="insertPalletRequest">
    <wsdl:part name="parameters" element="ns:insertPallet" />
  </wsdl:message>
  <wsdl:message name="insertPalletResponse">
    <wsdl:part name="parameters" element="ns:insertPalletResponse" />
  </wsdl:message>
  <wsdl:portType name="WarehouseWSPortType">
    <wsdl:operation name="executeOrder">
      <wsdl:input wsaw:Action="urn:executeOrder" message="ns:executeOrderRequest" />
      <wsdl:output wsaw:Action="urn:executeOrderResponse" message="ns:executeOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="insertPallet">
      <wsdl:input wsaw:Action="urn:insertPallet" message="ns:insertPalletRequest" />
      <wsdl:output wsaw:Action="urn:insertPalletResponse" message="ns:insertPalletResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WarehouseWSHttpBinding" type="ns:WarehouseWSPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="executeOrder">
      <http:operation location="executeOrder" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPallet">
      <http:operation location="insertPallet" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WarehouseWSSoap11Binding" type="ns:WarehouseWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="executeOrder">
      <soap:operation soapAction="urn:executeOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPallet">
      <soap:operation soapAction="urn:insertPallet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WarehouseWSSoap12Binding" type="ns:WarehouseWSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="executeOrder">
      <soap12:operation soapAction="urn:executeOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPallet">
      <soap12:operation soapAction="urn:insertPallet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WarehouseWS">
    <wsdl:port name="WarehouseWSHttpSoap12Endpoint" binding="ns:WarehouseWSSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/WarehouseWS.WarehouseWSHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WarehouseWSHttpEndpoint" binding="ns:WarehouseWSHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/WarehouseWS.WarehouseWSHttpEndpoint/" />
    </wsdl:port>
    <wsdl:port name="WarehouseWSHttpSoap11Endpoint" binding="ns:WarehouseWSSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/WarehouseWS.WarehouseWSHttpSoap11Endpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>